.contact .form-item .form-control {
    background: transparent;
    border-radius: 0;
    box-shadow: none;
    height: 74px;
    font-size: 24px;
    position: relative;
    transition: border 0.9s ease;
  }

  